.caption {
    bottom: 0;
}
.footer-thumbnail {
    width: 100%;
    padding: 5px;
    height: 53px;
    margin-top: 15px;
    text-align: center;
}
    .product-price {
        font-size: 1.2rem;
        font-weight: 600;
        color: #0F2895;
    }
    .product-promotion-pirce {
        font-size: 1rem;
        font-weight: 600;
        text-decoration: line-through;
    }
.product-btn {
    color: #FFF;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 5px;
}
.caption {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}