@model TechShopSolution.ViewModels.Catalog.Coupon.CouponCreateRequest

@{
    ViewData["Title"] = "Thêm mã giảm giá";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/Coupon.js"></script>
}
<div class="container-fluid">
    <h2 class="mt-4">Thêm mã giảm giá</h2>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="/coupon/index">Mã giảm giá</a></li>
        <li class="breadcrumb-item active">Thêm mới mã giảm giá</li>
    </ol>
    <form asp-action="Create" asp-controller="Coupon" method="post">
        <div class="padding-container">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="wrapper-content mb-3 shadow">
                        <label class="title-fill">Thông tin chung</label>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="name" class="control-label lableFormField"></label>
                            <input asp-for="name" class="form-control" placeholder="Nhập tên mã giảm giá" />
                            <span asp-validation-for="name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="code" class="control-label lableFormField"></label>
                            <input asp-for="code" class="form-control" placeholder="Nhập mã giảm giá" style="text-transform:uppercase">
                            <span asp-validation-for="code" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="type" class="control-label lableFormField"></label>
                            <select class="form-select" asp-for="type">
                                <option value="Phần trăm" selected>Giảm theo phần trăm</option>
                                <option value="Số tiền">Giảm theo số tiền</option>
                            </select>
                            <span asp-validation-for="type" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="value" class="control-label lableFormField"></label>
                            <input asp-for="value" class="form-control" placeholder="Nhập giá trị mã giảm giá" />
                            <span asp-validation-for="value" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="start_at" class="control-label lableFormField"></label>
                            <input asp-for="start_at" type="text" class="form-control datepicker" readonly="readonly" />
                            <span asp-validation-for="start_at" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="end_at" class="control-label lableFormField"></label>
                            <input asp-for="end_at" type="text" class="form-control datepicker" readonly="readonly" />
                            <span asp-validation-for="end_at" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="isActive" class="control-label lableFormField"></label>
                            <div class="form-check">
                                <input class="form-check-input" asp-for="isActive" type="radio" value="true" id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Kích hoạt
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" asp-for="isActive" type="radio" value="false" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Vô hiệu hóa
                                </label>
                            </div>
                        </div>
                        <div class="mt-3 text-right">
                            <a class="btn btn-primary" href="/coupon/index">
                                <i class="fa fa-chevron-left"></i>  Trở về
                            </a>
                            <button class="btn btn-success" type="submit">
                                <i class="fa fa-save"></i>
                                Lưu lại
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 wrapper-content-limit">
                    <div class="wrapper-content mb-3 shadow">
                        <label class="title-fill">Tùy chọn</label>
                        <hr />
                        @if (Model != null)
                        {
                            if (Model.quantity != null)
                            {
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="collapse" data-target="#collapseQuantity" aria-expanded="true" aria-controls="collapseQuantity">
                                            <input type="checkbox" checked="checked" id="checkQuantity" /> Giới hạn số lượt sử dụng
                                        </label>
                                    </div>
                                </div>
                                <div id="collapseQuantity" aria-expanded="true" class="collapse show">
                                    <div class="well">
                                        <div class="form-group">
                                            <label asp-for="quantity" class="control-label lableFormField"></label>
                                            <input asp-for="quantity" class="form-control" type="number" min="0" max="1000000000" placeholder="Nhập số mã giảm giá" id="txtQuantity" />
                                            <span asp-validation-for="quantity" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="collapse" data-target="#collapseQuantity" aria-expanded="false" aria-controls="collapseQuantity">
                                            <input type="checkbox" id="checkQuantity" /> Giới hạn số lượt sử dụng
                                        </label>
                                    </div>
                                </div>
                                <div id="collapseQuantity" aria-expanded="false" class="collapse">
                                    <div class="well">
                                        <div class="form-group">
                                            <label asp-for="quantity" class="control-label lableFormField"></label>
                                            <input asp-for="quantity" class="form-control" type="number" min="0" max="1000000000" placeholder="Nhập số mã giảm giá" id="txtQuantity" />
                                            <span asp-validation-for="quantity" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                        else
                        {
                            <div class="form-group">
                                <div class="checkbox">
                                    <label data-toggle="collapse" data-target="#collapseQuantity" aria-expanded="false" aria-controls="collapseQuantity">
                                        <input type="checkbox" id="checkQuantity" /> Giới hạn số lượt sử dụng
                                    </label>
                                </div>
                            </div>
                            <div id="collapseQuantity" aria-expanded="false" class="collapse">
                                <div class="well">
                                    <div class="form-group">
                                        <label asp-for="quantity" class="control-label lableFormField"></label>
                                        <input asp-for="quantity" class="form-control" type="number" min="0" max="1000000000" placeholder="Nhập số mã giảm giá" id="txtQuantity" />
                                        <span asp-validation-for="quantity" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model != null)
                        {
                            if (Model.min_order_value != null)
                            {
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="collapse" data-target="#collapseMinValue" aria-expanded="true" aria-controls="collapseMinValue">
                                            <input type="checkbox" checked="checked" id="checkMinValue" /> Đặt giá trị đơn hàng tối thiểu
                                        </label>
                                    </div>
                                </div>
                                <div id="collapseMinValue" aria-expanded="true" class="collapse show">
                                    <div class="well">
                                        <div class="form-group">
                                            <label asp-for="min_order_value" class="control-label lableFormField"></label>
                                            <input asp-for="min_order_value" class="form-control" type="number" min="0" max="1000000000" placeholder="Nhập giá trị tối thiểu đơn hàng" id="txtMinValue" />
                                            <span asp-validation-for="min_order_value" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="collapse" data-target="#collapseMinValue" aria-expanded="false" aria-controls="collapseMinValue">
                                            <input type="checkbox" id="checkMinValue" /> Đặt giá trị đơn hàng tối thiểu
                                        </label>
                                    </div>
                                </div>
                                <div id="collapseMinValue" aria-expanded="false" class="collapse">
                                    <div class="well">
                                        <div class="form-group">
                                            <label asp-for="min_order_value" class="control-label lableFormField"></label>
                                            <input asp-for="min_order_value" class="form-control" type="number" min="0" max="1000000000" placeholder="Nhập giá trị tối thiểu đơn hàng" id="txtMinValue" />
                                            <span asp-validation-for="min_order_value" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="form-group">
                                <div class="checkbox">
                                    <label data-toggle="collapse" data-target="#collapseMinValue" aria-expanded="false" aria-controls="collapseMinValue">
                                        <input type="checkbox" id="checkMinValue" /> Đặt giá trị đơn hàng tối thiểu
                                    </label>
                                </div>
                            </div>
                            <div id="collapseMinValue" aria-expanded="false" class="collapse">
                                <div class="well">
                                    <div class="form-group">
                                        <label asp-for="min_order_value" class="control-label lableFormField"></label>
                                        <input asp-for="min_order_value" class="form-control" type="number" min="0" max="1000000000" placeholder="Nhập giá trị tối thiểu đơn hàng" id="txtMinValue" />
                                        <span asp-validation-for="min_order_value" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (Model != null)
                        {
                            if (Model.max_price != null)
                            {
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="collapse" data-target="#collapseMaxValue" aria-expanded="true" aria-controls="collapseMaxValue">
                                            <input type="checkbox" checked="checked" id="checkMaxValue" /> Giảm tối đa
                                        </label>
                                    </div>
                                </div>
                                <div id="collapseMaxValue" aria-expanded="true" class="collapse show">
                                    <div class="well">
                                        <div class="form-group">
                                            <label asp-for="max_price" class="control-label lableFormField"></label>
                                            <input asp-for="max_price" class="form-control" type="number" min="0" max="1000000000" placeholder="Nhập giới hạn giá giảm" id="txtMaxValue" />
                                            <span asp-validation-for="max_price" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="collapse" data-target="#collapseMaxValue" aria-expanded="false" aria-controls="collapseMaxValue">
                                            <input type="checkbox" id="checkMaxValue" /> Giảm tối đa
                                        </label>
                                    </div>
                                </div>
                                <div id="collapseMaxValue" aria-expanded="false" class="collapse">
                                    <div class="well">
                                        <div class="form-group">
                                            <label asp-for="max_price" class="control-label lableFormField"></label>
                                            <input asp-for="max_price" class="form-control" type="number" min="0" max="1000000000" placeholder="Nhập giới hạn giá giảm" id="txtMaxValue" />
                                            <span asp-validation-for="max_price" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="form-group">
                                <div class="checkbox">
                                    <label data-toggle="collapse" data-target="#collapseMaxValue" aria-expanded="false" aria-controls="collapseMaxValue">
                                        <input type="checkbox" id="checkMaxValue" /> Giảm tối đa
                                    </label>
                                </div>
                            </div>
                            <div id="collapseMaxValue" aria-expanded="false" class="collapse">
                                <div class="well">
                                    <div class="form-group">
                                        <label asp-for="max_price" class="control-label lableFormField"></label>
                                        <input asp-for="max_price" class="form-control" type="number" min="0" max="1000000000" placeholder="Nhập giới hạn giá giảm" id="txtMaxValue" />
                                        <span asp-validation-for="max_price" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>