@model TechShopSolution.ViewModels.Catalog.Customer.CustomerUpdateAddressRequest

@{
    Layout = null;
}


<form asp-action="UpdateAddress" asp-controller="customer" method="post" onsubmit="return SubmitForm(this);">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="City" class="control-label lableFormField"></label>
        <input asp-for="City" class="form-control" id="txtCity" hidden />
        <select id="ddlCity" asp-for="City" class="form-control">
            <option value="">--Chọn tỉnh thành phố--</option>
        </select>
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="District" class="control-label lableFormField"></label>
        <input asp-for="District" class="form-control" id="txtDistrict" hidden />
        <select id="ddlDistrict" asp-for="District" class="form-control">
            <option value="">--Chọn quận huyện--</option>
        </select>
        <span asp-validation-for="District" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Ward" class="control-label lableFormField"></label>
        <input asp-for="Ward" class="form-control" hidden id="txtWard" />
        <select id="ddlWard" asp-for="Ward" class="form-control">
            <option value="">--Chọn phường xã--</option>
        </select>
        <span asp-validation-for="Ward" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="House" class="control-label lableFormField"></label>
        <input asp-for="House" class="form-control" />
        <span asp-validation-for="House" class="text-danger"></span>
    </div>

    <div class="form-group text-right">
        <input type="submit" value="Cập nhật" class="btn btn-primary" />
    </div>
</form>

<script src="~/js/Location.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validate-unobtrusive/jquery.validate.unobtrusive.min.js"></script>