@model TechShopSolution.ViewModels.Catalog.Customer.CustomerUpdateAddressRequest

@{
    Layout = null;
}


<form asp-action="UpdateAddress" asp-controller="customer" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="City" class="control-label"></label>
        <select id="ddlCity" asp-for="City" asp-items="new SelectList(new string[] { })" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
   
    <div class="form-group">
        <label asp-for="District" class="control-label"></label>
        <select id="ddlDistrict" asp-for="District" asp-items="new SelectList(new string[] { })" class="form-control" />
        <span asp-validation-for="District" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Ward" class="control-label"></label>
        <select id="ddlWard" asp-for="Ward" asp-items="new SelectList(new string[] { })" class="form-control" />
        <span asp-validation-for="Ward" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="House" class="control-label"></label>
        <input asp-for="House" class="form-control" />
        <span asp-validation-for="House" class="text-danger"></span>
    </div>
    <div class="form-group text-right">
        <input type="submit" value="Cập nhật" class="btn btn-primary" />
    </div>
</form>

<script src="~/js/Location.js"></script>