
@{
    ViewData["Title"] = "Đăng kí tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { area = "" })">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Thanh toán</li>
    </ul>
    <h3>Thanh toán</h3>
    <hr class="soft" />

    <table class="table table-bordered">
        <tr><th> Vui lòng đăng nhập để tiếp tục  </th></tr>
        <tr>
            <td>
                <div asp-validation-summary="ModelOnly" class="text-error"></div>
                <form class="form-horizontal" asp-action="Login" asp-controller="Order" method="post">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail1">Email</label>
                        <div class="controls">
                            <input class="span3" name="Email" asp type="text" id="inputEmail1" placeholder="Địa chỉ Email...">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword1">Password</label>
                        <div class="controls">
                            <input type="password" name="Password" class="span3" id="inputPassword1" placeholder="Mật khẩu">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn">Đăng nhập</button> Hoặc <a href="@Url.Action("Register", "Order")" class="btn">Đăng ký ngay!</a>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <a href="forgetpass.html" style="text-decoration:underline">Quên mật khẩu ?</a>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>
