@model TechShopSolution.ViewModels.Sales.OrderCancelRequest

@{
    Layout = null;
}

<div class="alert alert-info">
    <p class="mt-2">Hành động này sẽ hủy vĩnh viễn đơn hàng, quý khách nên cân nhắc trước khi hủy</p>
    <p>Trường hợp quý khách đã thanh toán cho đơn hàng này rồi nhưng vẫn muốn hủy, bộ phận CSKH của Shop sẽ liên lạc với quý khách để hoàn trả số tiền đã thanh toán.</p>
</div>
<form asp-action="OrderCancelReason" id="formCancel" asp-controller="Order" method="post" onsubmit="return SubmitForm(this);">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="reason" class="control-label lableFormField"></label>
        <input asp-for="Id" class="form-control" type="hidden" />
        <select asp-for="reason" id="reason" class="form-control style="width: 100%;"">
            <option value="">Chọn lý do hủy đơn hàng</option>
            <option value="Đổi ý không mua nữa">Đổi ý không mua nữa</option>
            <option value="Không thể thanh toán">Không thể thanh toán theo phương thức</option>
            <option value="Trùng đơn hàng">Trùng đơn hàng</option>
            <option value="Đặt nhầm sản phẩm">Đặt nhầm sản phẩm</option>
            <option value="Khác">Khác</option>
        </select>
        <span asp-validation-for="reason" class="text-danger"></span>
    </div>
    <div class="form-group" id="divReason" style="display: none">
         <div class="control-group">
             <label class="control-label">Ghi rõ lý do<sup style="color: #C74A6D">*</sup></label>
                <div class="controls">
                    <input type="text" id="txtReason" placeholder="Nhập lý do" class="margin-right-20" style="width: 96%;">
                </div>
            </div>
        <div class="alert alert-info">
            <p class="mt-2">Để chúng tôi có thể mang lại dịch vụ tốt nhất, quý khách vui lòng ghi rõ lý do để chúng tôi tiếp nhận. Xin cảm ơn!</p>
        </div>
    </div>
    <div class="form-group text-right">
        <input type="button" value="Hủy đơn hàng" id="btnApply" class="btn btn-primary" />
    </div>
</form>

<script src="~/js/Location.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validate-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
    $("#reason").change(function () {
        if (document.getElementById('reason').value == "Khác") {
            document.getElementById('divReason').style.display = "inline";
        } else {
            document.getElementById('divReason').style.display = "none";
        }
    });
    $("#btnApply").click(function () {
        var reason = document.getElementById('reason').value;
        var form = document.getElementById("formCancel");
        if (reason == "Khác") {
            if ($("#txtReason").val() == "") {
                alert("Vui lòng ghi rõ lý do hủy đơn hàng");
            } else {
                var customReason = $("#txtReason").val();
                $("#reason option:selected").val(customReason);
                form.submit();
            }
        }
        else {
            if (document.getElementById('reason').value == "") {
                alert("Vui lòng chọn lý do hủy đơn hàng");
            }
            else {
                form.submit();
            }
        }
    })
</script>